.wrapper{
    width: 370px;
    margin: 130px auto 0;
}

.select-btn{
    height: 65px;
    font-size: 22px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 7px ;
    background: #fff;
    border: 1px solid black;
}

.select-btn i{
    font-size: 31px;
}

.content{
    margin-top: 15px;
    padding: 20px;
    background: #fff;
    border-radius: 7px ;
}

.content .search{
    position: relative;
}

.search i{
    left: 15px;
    line-height: 53px;
    position:absolute;
}

.search input{
    height: 53px;
    width:100%;
    font-size: 17PX;
}

